@import url('../css/globals.css');


/* Header Section */
#sectionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
}
#IMechE_Logo{
    width: 28vw;
    max-width: 28rem;
    transition: 0s;
}

/* AAC Section */
#AacSection{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
}
#AacContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    margin-bottom: 2rem;
}
#AacLeft{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
#winning_photo{
    border-radius: var(--border-radius);;
    width: 50%;
}
.trophyIcon{
    height: 3rem;
    position: relative;
    top: 0.75rem;
    padding-right: 1rem;
}
.awardTitle{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1rem;
}
#IMechE_Photos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    overflow: hidden;
}
.IMechE_Photo{
    border-radius: var(--border-radius);
    height: 22vw;
    max-height: 20rem;
}
p{
    line-height: 1.5;
}
.inlineLink{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    color: var(--accent-colour);
    text-decoration: underline;
    text-decoration-color: var(--accent-colour);
    text-decoration-thickness: 0.2rem;
}
.inlineLink:hover{
    font-weight: bold;
}

/* Report Section */
#reportSection{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    height: 23rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
}
#reportLeft{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
}
#reportButton{
    color: var(--accent-colour);
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid var(--accent-colour);
    font-size: medium;
    font-weight: bold;
    border-radius: var(--border-radius);
    padding: 0.5rem 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    box-shadow: 0 0 3rem 0.5rem rgba(0, 0, 0, 0.75);
    transition: 0.5s;
    margin-top: 3rem;
    letter-spacing: 0.08rem;
}
#reportButton:hover{
    box-shadow: 0 0 5rem 1rem rgba(0, 0, 0, 0.5);
    scale: 1.05;
    cursor: pointer;
    text-decoration: none;
}
#reportButton:active{
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.5);
    scale: 1.0;
}
#searchReportIcon{
    height: 3rem;
}
#reportImg{
    flex: 2;
    height: 100%;
    width: auto;
    object-fit: contain;
    scale: 1.3;
    position: relative;
    left: 4rem;
}
