@import url('../css/globals.css');

/* Header Section */
#sectionHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 2rem;
}

#left{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
}
#right{
    width: 30%;
}
#render1{
    height: 28rem;
    margin-left: 40%;
    border-radius: var(--border-radius);
    position: relative;
    top: -1.5rem;
}
#render1:hover{
    height: 36rem;
    top: -4rem;
    margin-left: 36%;
}

#logo{
    width: 20rem;
    border-radius: var(--border-radius);
}

/* Video Section */
#sectionVideo{
    margin-top: 1rem;
    height: auto;
    box-shadow: 0 0px 40px #23664fa1;
    margin-bottom: 4rem;
}
#V2_Video{
    width: 100%;
    border-radius: var(--border-radius);
}

/* Features Section */
#sectionFeatures{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
#render2{
    width: 100%;
    margin-left: 3rem;
    margin-right: 3rem;
    scale: 0.8;
}
.sectionTitle{
    width: 100%;
    text-align: left;
    position: relative;
}
#FeaturesTitle{
    margin-top: -6rem;
    top: 9rem;
}
#render2{
    transition: transform 0.75s ease-in-out;
    transform: translateX(0); 
    position: relative;
    top: -4rem;
}
#render2.hidden{
    transform: translateX(-160%);
}
#appRender{
    width: 100%;
    margin-left: 3rem;
    margin-right: 3rem;
    scale:0.75;
    transition: transform 0.75s ease-in-out;
    transform: translateX(0); 
    position: absolute;
    top: -1rem;
}
#appRender.hidden{
    transform: translateX(160%);
}
#viewToggle{
    border: 5px solid var(--accent-colour);
    border-radius: 12px;
    margin-right: 2rem;
    position: relative;
    top: -11rem;
}
.toggle{
    border: 0;
    border-radius: 8px;
    height: 4rem;
    width: 10rem;
    font-size: 18px;
    letter-spacing: 0.05rem;
    transition: 0.25s;
}
#stickView{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#appView{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.selectedToggle{
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}
.defaultToggle{
    color: var(--accent-colour);
    background-color: rgba(0, 0, 0, 0.25);
}
.defaultToggle:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* Design Iteration Section */
#sectionVersions{
    margin-top: -5rem;
    margin-bottom: 10rem;
}
#designTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#expandIcon{
    height: 3rem;   
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1.0)); 
}
#expandIcon:hover{
    scale: 1.1;
    filter: drop-shadow(0px 0px 18px rgba(0, 0, 0, 0.7)); 
}
#versions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.versionRender{
    height: 40rem;
    position: relative;
}
.versionRender:hover{
    scale: 1.16;
    padding-bottom: 0.7rem;
}
#versionText{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
#V1render{
    transform: scaleX(-1);
}
hr{
    width: 90%;
    margin-top: 3rem;
}
.versionText{
    font-size: larger;
    letter-spacing: 0.1rem;
}

/* Mobile View */
@media screen and (max-width: 600px){
    #right{
        display: none;
    }
    h1{
        font-size: 25px !important;
    }
    #render2{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    #sectionVideo{
        margin-bottom: 1rem;
    }
    #FeaturesTitle, #IterationTitle{
        margin-top: 4rem;
        top: -1rem;
    }
    #render2{
        top: -2rem;
    }
    #appRender{
        top: 5rem;
    }
    #viewToggle{
        margin-right: 0;
        top: 0;
    }
    .toggle{
        height: 3rem;
        width: 7rem;
        font-size: 16px;
    }
    #expandIcon{
        height: 1.8em;
        padding-bottom: 0.5rem;
    }
    #sectionVersions{
        margin-top: 5rem;
    }
    .versionRender{
        height: 20rem;
    }
    .versionText{
        font-size: small;
    }
}